@import "./Constants.scss";

.issue-container {
  margin-top: $spacer-2;
  margin-bottom: $spacer-2;
}

.issue-img-container {
  display: flex;
  justify-content: flex-end;
}
.issue-img {
  width: 70%;
}

.issue-title {
  margin-bottom: $spacer-1;
}

