@import "./Constants.scss";

.issue-container {
  margin-top: $spacer-2;
  margin-bottom: $spacer-2;
}

.issue-img-container {
  display: flex;
  
}

#large-screen-container {
  justify-content: flex-end;
}

#small-screen-container {
  justify-content: center;
}

.issue-img {
  width: 70%;
}

#small-screen {
  width: 50%;
}

.small-screen-row {
  margin-bottom: $spacer-2;
}

.issue-title {
  margin-bottom: $spacer-1;
}

