@import "./Constants.scss";

.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-white;
  z-index: 1;
}

.horizontal-content-container {
  display: flex;
  align-items: center;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
}

.vertical-content-container {
  // padding-right: $spacer-2;
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
}

.horizontal-links-container {
  display: flex;
  flex: 1;
  gap: $spacer-1;
}

.vertical-links-container {
  display: flex;
  gap: $spacer-1;
}

.logo-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

#navbar-pages {
  justify-content: flex-start;
}

#navbar-socials {
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: $color-black;
  font-size: 2.4rem;
}

.bm-burger-bars {
  background: $color-black;
}

.bm-burger-button {
  position: fixed;
  width: 2.4rem;
  height: 2.4rem;
  left: $spacer-2;
  top: $spacer-2;
}

.bm-menu {
  background: $color-green;
  padding-left: $spacer-1;
  padding-top: $spacer-1;
  height: 100%;
  width: 100%;
}

.bm-item {
  padding-bottom: $spacer-1;
}

.vertical-socials {
  padding-right: $spacer-1;
}