@import "./Constants.scss";

.polaroid-container {
  margin-bottom: $spacer-3;
}

.polaroid-frame {
  border: .25rem solid $color-green;
  background-color: $color-white;
}

.polaroid-image {
  // box-shadow: 10px 10px 0px -5px $color-purple-lightest;
  width: 100%;
  // z-index: 100;
  // position: relative;
  // top: 0;
  // left: 0;
  // cursor: pointer;
  // transition: 0.6s all;
  // &:hover {
  //   transform: translate(7px, 7px);
  // }
}

.image-frame {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.polaroid-info {
  text-align: center;
  padding-top: $spacer-base;
  padding-bottom: $spacer-base;
  // h3 {
  //   padding-bottom: $spacer-base;
  // }
}

.polaroid-position {
  padding-top: $spacer-1;
}