@import "./Constants.scss";

.polaroid-container {
  margin-bottom: $spacer-3;
}

.polaroid-frame {
  // border: .25rem solid $color-black;
  // background-color: $color-white;
  color: $color-white;
}

.polaroid-image {
  width: 100%;
}

.image-frame {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.polaroid-info {
  text-align: center;
  padding-top: $spacer-base;
  padding-bottom: $spacer-base;
  color: $color-white;
}

.polaroid-position {
  padding-top: $spacer-1;
}