@import "./Constants.scss";
@import "./Reset.scss";

html {
  @media screen and (min-width: $lg) {
    font-size: 10px;
  }

  @media screen and (min-width: $sm) and (max-width: $lg) {
    font-size: 8px;
  }

  @media screen and (max-width: $sm) {
    font-size: 7px;
  }
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("./fonts/SourceSansPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway SemiBold";
  src: url("./fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("./fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

h1 {
  font-family: "Source Sans Pro Bold" ;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 7.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "Raleway SemiBold" ;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 4.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: "Raleway Medium" ;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 3.6rem;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-family: "Raleway Regular" ;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-family: "Raleway Regular" ;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-family: "Raleway Regular" ;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: "Raleway Regular" ;
  // font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
}